body {
  background-color: #272727;
}


*{
margin: 0;
padding: 0;
}

.contain{
 height: 100vh;
}

.fakeMenu0 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
  margin-top: 50px;
}

.fakeButtons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: relative;
  top: 3px;
  left: 18px;
  background-color: #ff3b47;
  display: inline-block;
}

.fakeMinimize {
  left: 23px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.fakeZoom {
  left: 28px;
  background-color: #00d742;
  border-color: #049931;
}

.fakeMenu {
  width: 550px;
  box-sizing: border-box;
  height: 25px;
  background-color: #2c2c2c;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.fakeScreen {
  background-color: #222225;
  box-sizing: border-box;
  width: 550px;
  margin: 0 auto;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.fakeScreen p {
  position: relative;
  left: 50%;
  margin-left: -14em;
  text-align: left;
  font-size: 1.25em;
  font-family: monospace;
  overflow: hidden;
  width: 0;
  line-height: 3;
}

span {
  color: #fff;
  font-weight: bold;
}

.line1 {
  color: #FFF;
  -webkit-animation: type .5s 1s steps(20, end) forwards;
  -moz-animation: type .5s 1s steps(20, end) forwards;
  -o-animation: type .5s 1s steps(20, end) forwards;
  animation: type .5s 1s steps(20, end) forwards;
  white-space: nowrap;
}

.cursor1 {
  -webkit-animation: blink 1s 2s 2 forwards;
  -moz-animation: blink 1s 2s 2 forwards;
  -o-animation: blink 1s 2s 2 forwards;
  animation: blink 1s 2s 2 forwards;
}

.line2 {
  color: #0FFFDD;
  -webkit-animation: type .5s 4.25s steps(20, end) forwards;
  -moz-animation: type .5s 4.25s steps(20, end) forwards;
  -o-animation: type .5s 4.25s steps(20, end) forwards;
  animation: type .5s 4.25s steps(20, end) forwards;
}

.cursor2 {
  -webkit-animation: blink 1s 5.25s 2 forwards;
  -moz-animation: blink 1s 5.25s 2 forwards;
  -o-animation: blink 1s 5.25s 2 forwards;
  animation: blink 1s 5.25s 2 forwards;
}

.line3 {
  color: #FF867C;
  -webkit-animation: type .5s 7.5s steps(20, end) forwards;
  -moz-animation: type .5s 7.5s steps(20, end) forwards;
  -o-animation: type .5s 7.5s steps(20, end) forwards;
  animation: type .5s 7.5s steps(20, end) forwards;
}

.cursor3 {
  -webkit-animation: blink 1s 8.5s 2 forwards;
  -moz-animation: blink 1s 8.5s 2 forwards;
  -o-animation: blink 1s 8.5s 2 forwards;
  animation: blink 1s 8.5s 2 forwards;
}

.line4 {
  color: #fff;
  -webkit-animation: type .5s 10.75s steps(20, end) forwards;
  -moz-animation: type .5s 10.75s steps(20, end) forwards;
  -o-animation: type .5s 10.75s steps(20, end) forwards;
  animation: type .5s 10.75s steps(20, end) forwards;
}

.cursor4 {
  -webkit-animation: blink 1s 11.5s infinite;
  -moz-animation: blink 1s 8.5s infinite;
  -o-animation: blink 1s 8.5s infinite;
  animation: blink 1s 8.5s infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes type {
  to {
    width: 28em;
  }
}

@-moz-keyframes type {
  to {
    width: 28em;
  }
}

@-o-keyframes type {
  to {
    width: 28em;
  }
}

@keyframes type {
  to {
    width: 28em;
  }
}

/*footer starts*/
.footer {
	background-color: #272727;
	padding: 10px 10px 0px 10px;
	color: white;
}

.inner-footer {
	font-family: 'Roboto Mono';
	font-weight: bold;
	text-align: center;
	background-color: #3c3b3b;
	padding: 10px;
	line-height: 2.5;
	border-radius: 10px 10px 0 0;
	color: white;
}

#greeting { 
	font-family: 'Roboto Mono';
	font-weight: bold;
	text-align: center;
	line-height: 2.5;
	color: white;
}
 /* Style all font awesome icons */
 .fa {
  font: normal normal normal 14px/2 FontAwesome !important;
  height: 30px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-telegram {
  background: #378cce;
  color: white;
} 

  /* footer ends*/